.header {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #9d9d9d;
  }
}

.logo {
  position: relative;
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: $white;

  &__img {
    background-color: rgb(61,61,61);
    width: 64px;
    height: 64px;
    clip-path: polygon(37% 84%, 82% 91%, 88% 80%, 91% 100%, 28% 98%, 9% 55%, 76% 29%, 40% 24%, 21% 63%, 0% 57%, 0% 30%, 24% 19%, 53% 9%, 84% 16%, 95% 34%, 88% 47%, 84% 38%, 40% 63%);
  }

  &__title {
    position: absolute;
    left: 40px;
    font-size: 30px;
    letter-spacing: 0.3rem;
    line-height: 50px;
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 120px;
  height: 40px;

  &__text {
    font-size: 20px;
  }

}
